# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Logs
*.log

# Kubernetes
*.yaml~
.kube/
*.retry

# VSCode
.vscode/
.settings/

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
